 #myVideo{
 object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

 @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
    color: rgba(230, 230, 250, 1);
}





.card{
    width: 300px;
    height: 400px;
    background-color: rgba(230, 230, 250, 0.2);
    border: 3px solid rgba(30, 144, 255, 0.6);
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -50px;
    bottom: 0;
}


 
 .about {
  -webkit-text-fill-color: darkblue;
  position: absolute;
     top: 25%;
    left: 25%;
}

.nama {
  position: absolute;
     top: 39%;
    left: 3%;
}

.nama1 {
  position: absolute;
     top: 47%;
    left: 3%;
}

img{
  right: 105px;
  top: 15px;
height: 100px;
 width: 100px;
 border-radius: 50px;
 position: absolute;
 }

.back {
  position: absolute;
  bottom: 91%;
  -webkit-text-fill-color: floralwhite;
}

.about1 {
  -webkit-text-fill-color: darkblue;
  position: absolute;
  left: 10%;
  top: 64%;
}

.thanks {
  position: absolute;
  left: 0.20%;
  top: 82%;
}

.kelas{
  position: absolute;
  top: 55%;
  left: 3%;
}

.web {
  position: absolute;
  top: 75%;
  left: 3%;
}
